@page

@{
    ViewData["Title"] = "Register";
}

<div class="alert alert-warning" role="alert">
  You can not register! Please contact your administrator
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
