@page "/outbound"

<PageTitle>Outbound</PageTitle>


<a class="w-100 btn btn-lg btn-primary my-2" href="/outbound/consolidation">Consolidation</a>
<a class="w-100 btn btn-lg btn-primary my-2" href="/outbound/loading">Loading</a>

<a class="w-100 btn btn-lg btn-primary my-2" href="/outbound/departure">Departure</a>